<nav class="main-nav" id="main-nav" aria-label="Navegación principal">
        <div class="container nav-inner">
            <ul>
                <li><a href="#categorias">ATV / UTV</a></li>
                <li class="has-sub"><a href="#productos">Piezas</a></li>
                <li class="has-sub"><a href="#categorias">Accesorios</a></li>
                <li><a href="#categorias">Neumáticos</a></li>
                <li><a href="#categorias">Suspensión</a></li>
                <li><a href="#equipo">Ropa y Equipo</a></li>
                <li class="has-sub"><a href="#marcas">Marcas</a></li>
                <li><a href="#oferta" class="nav-offer">Ofertas</a></li>
            </ul>
        </div>
    </nav>